@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/webBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: -webkit-fill-available;
  /* min-height: 100vh; */
  width: 100vw;
  overflow: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#local {
  z-index: 99;
}
